<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38768965188-nuf1r32q0sb0lemm9fgtbgsf62fhup0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38768965188-nuf1r32q0sb0lemm9fgtbgsf62fhup0k</string>
	<key>API_KEY</key>
	<string>AIzaSyAt6nU4pa4EEafYpeARhMNEGV1FjwKhoY4</string>
	<key>GCM_SENDER_ID</key>
	<string>38768965188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.keishimizu26629.stamp-rally.dev</string>
	<key>PROJECT_ID</key>
	<string>flutteruniv-stamp-rally-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flutteruniv-stamp-rally-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38768965188:ios:918e68b73873825a9b2e11</string>
</dict>
</plist>